.child {
    padding: 1rem;
    margin: 1rem;
    background-color: #ccc;
    width: 500px;
    height: 500px;
  }

  .parent {
    display: flex;
  }

  .good{
    margin: auto;
  }

  .nice{
    text-align: center;
  }